.Li {
    width: 274px;
    height: 426px;
    box-sizing: border-box;
       
}

/*.ItemsCont {

}*/


.ItemsContImg{
    position: relative;
        display: inline-block;

}

.Img {
    width: 274px;
    height: 268px;
    border-radius: 14px;
    display: block;
    
}

.Serdechko {
position: absolute;
    top: 14px;
    right: 14px;
    width: 18px;
    height: 18px;
    background-size: cover;
    cursor: pointer;
}

.Text {
    padding-top: 14px;
    padding-bottom: 8px;
    
}
.onRad{
    display: flex;
    justify-content: space-between;
    font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: #121417;
}

.onSpanModel {
    color: #3470ff;
}

.onRost {
display: flex;
    gap: 5px;
}


.Rad {
    display: flex;
    font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        color: rgba(18, 20, 23, 0.5);
            overflow: hidden;
}

.Rad .onSpan:not(:last-child)::after {
    content: "|";
    margin: 0 1px;
}

.Button{
    width: 274px;
    height: 44px;
    background-color: #3470FF;
    border-radius: 15px;
    border:none;
    font-weight: 600;
        font-size: 14px;
        line-height: 143%;
        color: #fff;
}

.SerdechkoActive {
    fill: blue;
}