.Ul {
    padding-top: 50px;
display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 29px;
width: 1440px;
    align-items: center;
    justify-content: center;
        margin: 0 auto;
}