.contHome {
display: flex;
    justify-content: space-between;
    width: 100%;
    align-items:baseline;
    padding: 12px 0px;
    background-image: url('../../images/cart.jpg');
        background-size: cover;
        height: 100vh;
        color: var(--invent-color);
}


.sectionHome{
    
    margin: 0 auto;
        padding: 40px 20px;
        width: 100%;
        width: 800px;
}

.welcomHome{
    font-family: var(--font-family);
    width: 220px;  
            font-size: 16px;
}
.But {
    background-color: transparent;
    margin-top: 80px;
        color: var(--invent-color);
        border: 1px solid var(--invent-color);
        padding: 15px 20px;
        font-family: var(--font-family);
                font-size: 30px;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.abzac{
    margin-bottom: 40px;
    margin-top: 150px;
    text-align: center;
            font-family: var(--font-family);
                font-size: 50px;
                width: 800px;
}

.But:hover,
.But:focus {
    background-color: var(--invent-color);
    color: var(--card-text-color);
    border-color: var(--invent-color);
    outline: none;
}